{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static '/css/auth/style.css' %}">
</head>

<body>
    
    <form action="{% url 'regis'  %}" method="post">
        
        {% csrf_token %}

        <div>
            <label> Name </label>
            <input type="text" name="name">
        </div>

        <div>
            <label> Email </label>
            <input type="email" name="email">
        </div>

        <div>
            <label> Password </label>
            <input type="password" name="password">
        </div>

        <div>
            <button> Registration </button>
        </div>
    </form>
</body>

</html>