.border-radius-10px {
    border-radius: 10px;
}

.cursor {
    cursor: pointer;
}

.bg-trans {
    background-color: transparent;
}

.padding-10 {
    padding: 10px;
}

.border-radius-10 {
    border-radius: 10px;
}